# Python Bytecode
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/

# Large Raw CSV Data files
data/*.csv
data.zip
__MACOSX/
.ipynb_checkpoints/

# OS / Editor Files
.DS_Store
Thumbs.db
.vscode/
.idea/
